:root{
    --main-color: gold;
    --second-color: #ffee80;
    --dark-color: #130f40;
    --light-color: #666666;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato',Arial, Helvetica, sans-serif;

}

.container{
    width: 100%;
    height: 100%;
    position: absolute;
    
}

.btn{
    width: 380px;
    height: 500px;
    position: relative;
    margin: 6% auto;
    background-color: #ffffff;
    padding: 5px;
    overflow: hidden;
}

#btnbg{
    top: 0;
    left: 0;
    position: absolute;
    width: 115px;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 30px;
    transition: 0.5s;
}

.input input:focus {
    outline: 0;
}


.input.success input {
    border-color: blue;
}

.input.error input {
    border-color: #ff3860;
}

.input .error {
    color: #ff3860;
    font-size: 12px;
    height: auto;
    margin-top: 5px;
    display: block;
}

.check{
    font-size: 14px;
}


/* Copyright */

 .copyright{
    color: var(--light-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 2rem;
    border-top: 0.1rem solid #ccc;
    padding-top: 2rem;
    opacity: 0.4;
    font-size: 1.5rem;
}

.background1 {
    background-image: url('bg1.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
	margin-top:10px;
	font-family: Arial, sans-serif;
}

.button-box{
    width: 230px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px var(--light-color);
    border-radius: 30px ;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background:transparent ;
    border: 0;
    outline: none;
    position: relative;
    color: black;
    font-size: 16px;
}



.input-grouplogin{
    top: 140px;
    position: absolute;
    width: 280px;
    transition: 0.5s
}

.input-groupreg{
    top: 100px;
    position: absolute;
    width: 280px;
    transition: 0.5s
}


.input-fieldlogin{
    width: 100%;
    padding: 10px 0;
    margin: 15px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}


.submit-btn {
    width: 85%;
    cursor: pointer;
    padding: 10px 30px;
    display: block;
    margin:35px auto;
    border: 0;
    outline: none;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;  
}

.submit-btnlog {
    width: 85%;
    cursor: pointer;
    padding: 10px 30px;
    display: block;
    margin:80px auto;
    border: 0;
    outline: none;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;  
}

.submit-btnlog:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.submit-btn:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.check-box{
    margin: auto;
}

span{
    color:#777;
    font-size: 12px;
    margin-left: 5px;
    position: absolute;
}

#login{
    left: 50px;
}

#register-form{
    left: 450px;
}